.manage_elements_box {
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-width: 830px;
  margin: 0 auto;
}

.button_with_margin {
  margin-left: 80px;
}

.circles_box {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin-top: 48px;
  flex-wrap: wrap;
}
